exec --no-startup-id "xrandr --output DVI-D-0 --mode 1920x1200 --pos 0x0 --rotate left --output DVI-I-1 --right-of DVI-D-0 --primary"
exec --no-startup-id "nitrogen --restore"
exec --no-startup-id "dunst"
exec --no-startup-id "nm-applet --sm-disable"
exec --no-startup-id "fbxkb"
exec --no-startup-id "weatherboy -l 904350 -a"
exec --no-startup-id "trayclock"
exec --no-startup-id "unibrow --hide"
exec --no-startup-id "mount-tray"
exec --no-startup-id "mounty"
exec --no-startup-id "redshift-gtk"
exec --no-startup-id "reset_kbd.sh"
